CIS612/SDK/sms-sdk/wsdl/sms-types.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
   Copyright 2005-2013 VMware, Inc.  All rights reserved.
-->
<schema
   targetNamespace="urn:sms"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:sms="urn:sms"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:vim25="urn:vim25"
   elementFormDefault="qualified"
>
   <import namespace="urn:vim25" schemaLocation="query-types.xsd" />
   <import namespace="urn:vim25" schemaLocation="vim-types.xsd" />
   <import namespace="urn:vim25" schemaLocation="core-types.xsd" />
   <complexType name="SmsAboutInfo">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="name" type="xsd:string" />
               <element name="fullName" type="xsd:string" />
               <element name="vendor" type="xsd:string" />
               <element name="apiVersion" type="xsd:string" />
               <element name="instanceUuid" type="xsd:string" />
               <element name="vasaApiVersion" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="DbConnectionSpec">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="url" type="xsd:string" />
               <element name="username" type="xsd:string" />
               <element name="password" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="EntityReferenceEntityType">
      <restriction base="xsd:string">
         <enumeration value="datacenter" />
         <enumeration value="resourcePool" />
         <enumeration value="storagePod" />
         <enumeration value="cluster" />
         <enumeration value="vm" />
         <enumeration value="datastore" />
         <enumeration value="host" />
         <enumeration value="vmFile" />
         <enumeration value="scsiPath" />
         <enumeration value="scsiTarget" />
         <enumeration value="scsiVolume" />
         <enumeration value="scsiAdapter" />
         <enumeration value="nasMount" />
      </restriction>
   </simpleType>
   <complexType name="EntityReference">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="id" type="xsd:string" />
               <element name="type" type="sms:EntityReferenceEntityType" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="SmsTaskState">
      <restriction base="xsd:string">
         <enumeration value="running" />
         <enumeration value="success" />
         <enumeration value="error" />
      </restriction>
   </simpleType>
   <complexType name="SmsTaskInfo">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="key" type="xsd:string" />
               <element name="task" type="vim25:ManagedObjectReference" />
               <element name="object" type="vim25:ManagedObjectReference" minOccurs="0" />
               <element name="error" type="vim25:LocalizedMethodFault" minOccurs="0" />
               <element name="result" type="xsd:anyType" minOccurs="0" />
               <element name="startTime" type="xsd:dateTime" minOccurs="0" />
               <element name="completionTime" type="xsd:dateTime" minOccurs="0" />
               <element name="state" type="xsd:string" />
               <element name="progress" type="xsd:int" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="AuthConnectionFailed">
      <complexContent>
         <extension base="vim25:NoPermission">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="CertificateNotTrusted">
      <complexContent>
         <extension base="sms:ProviderRegistrationFault">
            <sequence>
               <element name="certificate" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="DbConfigFailed">
      <complexContent>
         <extension base="vim25:MethodFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="EntityNotFound">
      <complexContent>
         <extension base="vim25:MethodFault">
            <sequence>
               <element name="entity" type="sms:EntityReference" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="IncorrectUsernamePassword">
      <complexContent>
         <extension base="sms:ProviderRegistrationFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="InvalidCertificate">
      <complexContent>
         <extension base="sms:ProviderRegistrationFault">
            <sequence>
               <element name="certificate" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="InvalidSession">
      <complexContent>
         <extension base="vim25:NoPermission">
            <sequence>
               <element name="sessionCookie" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="InvalidUrl">
      <complexContent>
         <extension base="sms:ProviderRegistrationFault">
            <sequence>
               <element name="url" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MultipleSortSpecsNotSupported">
      <complexContent>
         <extension base="vim25:InvalidArgument">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="NoCommonProviderForAllBackings">
      <complexContent>
         <extension base="sms:QueryExecutionFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ProviderConnectionFailed">
      <complexContent>
         <extension base="vim25:RuntimeFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ProviderNotFound">
      <complexContent>
         <extension base="sms:QueryExecutionFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ProviderRegistrationFault">
      <complexContent>
         <extension base="vim25:MethodFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ProviderSyncFailed">
      <complexContent>
         <extension base="vim25:MethodFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ProviderUnregistrationFault">
      <complexContent>
         <extension base="vim25:MethodFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ProxyRegistrationFailed">
      <complexContent>
         <extension base="vim25:RuntimeFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="QueryExecutionFault">
      <complexContent>
         <extension base="vim25:MethodFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="QueryNotSupported">
      <complexContent>
         <extension base="vim25:InvalidArgument">
            <sequence>
               <element name="entityType" type="sms:EntityReferenceEntityType" minOccurs="0" />
               <element name="relatedEntityType" type="sms:EntityReferenceEntityType" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ServiceNotInitialized">
      <complexContent>
         <extension base="vim25:RuntimeFault">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SyncInProgress">
      <complexContent>
         <extension base="sms:ProviderSyncFailed">
            <sequence>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="FilterSpecComparisonOperator">
      <restriction base="xsd:string">
         <enumeration value="equal" />
         <enumeration value="notEqual" />
         <enumeration value="greaterThanOrEqual" />
         <enumeration value="lessThanOrEqual" />
         <enumeration value="contains" />
         <enumeration value="notContains" />
         <enumeration value="beginsWith" />
         <enumeration value="endsWith" />
      </restriction>
   </simpleType>
   <simpleType name="FilterSpecLogicalOperator">
      <restriction base="xsd:string">
         <enumeration value="logicalOr" />
         <enumeration value="logicalAnd" />
      </restriction>
   </simpleType>
   <complexType name="FilterSpecConstraint">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="propertyName" type="xsd:string" minOccurs="0" />
               <element name="propertyValue" type="xsd:string" minOccurs="0" />
               <element name="comparisonOperator" type="sms:FilterSpecComparisonOperator" minOccurs="0" />
               <element name="childConstraint" type="sms:FilterSpecConstraint" minOccurs="0" maxOccurs="unbounded" />
               <element name="childConstraintLogicalOperator" type="sms:FilterSpecLogicalOperator" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfFilterSpecConstraint">
      <sequence>
         <element name="FilterSpecConstraint" type="sms:FilterSpecConstraint" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="FilterSpec">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="constraint" type="sms:FilterSpecConstraint" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Metadata">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="numRows" type="xsd:int" />
               <element name="totalRows" type="xsd:int" />
               <element name="lastUpdateTime" type="xsd:dateTime" minOccurs="0" />
               <element name="propertyName" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="QueryResult">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="row" type="sms:RowData" minOccurs="0" maxOccurs="unbounded" />
               <element name="metadata" type="sms:Metadata" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="QuerySpec">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="maxCount" type="xsd:int" />
               <element name="offset" type="xsd:int" />
               <element name="filterSpec" type="sms:FilterSpec" minOccurs="0" />
               <element name="sortSpec" type="sms:SortSpec" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RowData">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="column" type="xsd:string" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfRowData">
      <sequence>
         <element name="RowData" type="sms:RowData" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="SortSpec">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="propertyName" type="xsd:string" />
               <element name="ascending" type="xsd:boolean" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfSortSpec">
      <sequence>
         <element name="SortSpec" type="sms:SortSpec" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="SmsProviderInfo">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="uid" type="xsd:string" />
               <element name="name" type="xsd:string" />
               <element name="description" type="xsd:string" minOccurs="0" />
               <element name="version" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SmsProviderSpec">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="name" type="xsd:string" />
               <element name="description" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RelatedStorageArray">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="arrayId" type="xsd:string" />
               <element name="active" type="xsd:boolean" />
               <element name="manageable" type="xsd:boolean" />
               <element name="priority" type="xsd:int" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfRelatedStorageArray">
      <sequence>
         <element name="RelatedStorageArray" type="sms:RelatedStorageArray" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="SupportedVendorModelMapping">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="vendorId" type="xsd:string" minOccurs="0" />
               <element name="modelId" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfSupportedVendorModelMapping">
      <sequence>
         <element name="SupportedVendorModelMapping" type="sms:SupportedVendorModelMapping" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <simpleType name="VasaProviderStatus">
      <restriction base="xsd:string">
         <enumeration value="online" />
         <enumeration value="offline" />
         <enumeration value="syncError" />
         <enumeration value="unknown" />
      </restriction>
   </simpleType>
   <simpleType name="VasaProviderProfile">
      <restriction base="xsd:string">
         <enumeration value="blockDevice" />
         <enumeration value="fileSystem" />
         <enumeration value="capability" />
      </restriction>
   </simpleType>
   <complexType name="VasaProviderInfo">
      <complexContent>
         <extension base="sms:SmsProviderInfo">
            <sequence>
               <element name="url" type="xsd:string" />
               <element name="certificate" type="xsd:string" minOccurs="0" />
               <element name="status" type="xsd:string" minOccurs="0" />
               <element name="vasaVersion" type="xsd:string" minOccurs="0" />
               <element name="namespace" type="xsd:string" minOccurs="0" />
               <element name="lastSyncTime" type="xsd:string" minOccurs="0" />
               <element name="supportedVendorModelMapping" type="sms:SupportedVendorModelMapping" minOccurs="0" maxOccurs="unbounded" />
               <element name="supportedProfile" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
               <element name="supportedProviderProfile" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
               <element name="relatedStorageArray" type="sms:RelatedStorageArray" minOccurs="0" maxOccurs="unbounded" />
               <element name="providerId" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VasaProviderSpec">
      <complexContent>
         <extension base="sms:SmsProviderSpec">
            <sequence>
               <element name="username" type="xsd:string" />
               <element name="password" type="xsd:string" />
               <element name="url" type="xsd:string" />
               <element name="certificate" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="DatastorePair">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="datastore1" type="vim25:ManagedObjectReference" />
               <element name="datastore2" type="vim25:ManagedObjectReference" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfDatastorePair">
      <sequence>
         <element name="DatastorePair" type="sms:DatastorePair" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="DrsMigrationCapabilityResult">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="recommendedDatastorePair" type="sms:DatastorePair" minOccurs="0" maxOccurs="unbounded" />
               <element name="nonRecommendedDatastorePair" type="sms:DatastorePair" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FcStoragePort">
      <complexContent>
         <extension base="sms:StoragePort">
            <sequence>
               <element name="portWwn" type="xsd:string" />
               <element name="nodeWwn" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="FcoeStoragePort">
      <complexContent>
         <extension base="sms:StoragePort">
            <sequence>
               <element name="portWwn" type="xsd:string" />
               <element name="nodeWwn" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="StorageFileSystemInfo">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="fileServerName" type="xsd:string" />
               <element name="fileSystemPath" type="xsd:string" />
               <element name="ipAddress" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfStorageFileSystemInfo">
      <sequence>
         <element name="StorageFileSystemInfo" type="sms:StorageFileSystemInfo" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="IscsiStoragePort">
      <complexContent>
         <extension base="sms:StoragePort">
            <sequence>
               <element name="identifier" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="LunHbaAssociation">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="canonicalName" type="xsd:string" />
               <element name="hba" type="vim25:HostHostBusAdapter" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="BlockDeviceInterface">
      <restriction base="xsd:string">
         <enumeration value="fc" />
         <enumeration value="iscsi" />
         <enumeration value="fcoe" />
         <enumeration value="otherBlock" />
      </restriction>
   </simpleType>
   <simpleType name="FileSystemInterface">
      <restriction base="xsd:string">
         <enumeration value="nfs" />
         <enumeration value="otherFileSystem" />
      </restriction>
   </simpleType>
   <simpleType name="VasaProfile">
      <restriction base="xsd:string">
         <enumeration value="blockDevice" />
         <enumeration value="fileSystem" />
         <enumeration value="capability" />
         <enumeration value="policy" />
         <enumeration value="object" />
      </restriction>
   </simpleType>
   <complexType name="StorageArray">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="name" type="xsd:string" />
               <element name="uuid" type="xsd:string" />
               <element name="vendorId" type="xsd:string" />
               <element name="modelId" type="xsd:string" />
               <element name="firmware" type="xsd:string" minOccurs="0" />
               <element name="alternateName" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
               <element name="supportedBlockInterface" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
               <element name="supportedFileSystemInterface" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
               <element name="supportedProfile" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
               <element name="priority" type="xsd:int" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfStorageArray">
      <sequence>
         <element name="StorageArray" type="sms:StorageArray" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="StorageCapability">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="uuid" type="xsd:string" />
               <element name="name" type="xsd:string" />
               <element name="description" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="FileSystemInterfaceVersion">
      <restriction base="xsd:string">
         <enumeration value="NFSV3_0" />
      </restriction>
   </simpleType>
   <complexType name="StorageFileSystem">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="uuid" type="xsd:string" />
               <element name="info" type="sms:StorageFileSystemInfo" maxOccurs="unbounded" />
               <element name="nativeSnapshotSupported" type="xsd:boolean" />
               <element name="thinProvisioningStatus" type="xsd:string" />
               <element name="type" type="xsd:string" />
               <element name="version" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfStorageFileSystem">
      <sequence>
         <element name="StorageFileSystem" type="sms:StorageFileSystem" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="StorageLun">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="uuid" type="xsd:string" />
               <element name="vSphereLunIdentifier" type="xsd:string" />
               <element name="vendorDisplayName" type="xsd:string" />
               <element name="capacityInMB" type="xsd:long" />
               <element name="usedSpaceInMB" type="xsd:long" />
               <element name="lunThinProvisioned" type="xsd:boolean" />
               <element name="alternateIdentifier" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
               <element name="drsManagementPermitted" type="xsd:boolean" />
               <element name="thinProvisioningStatus" type="xsd:string" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfStorageLun">
      <sequence>
         <element name="StorageLun" type="sms:StorageLun" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="StoragePort">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="uuid" type="xsd:string" />
               <element name="type" type="xsd:string" />
               <element name="alternateName" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfStoragePort">
      <sequence>
         <element name="StoragePort" type="sms:StoragePort" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="StorageProcessor">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="uuid" type="xsd:string" />
               <element name="alternateIdentifer" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfStorageProcessor">
      <sequence>
         <element name="StorageProcessor" type="sms:StorageProcessor" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <simpleType name="ThinProvisioningStatus">
      <restriction base="xsd:string">
         <enumeration value="RED" />
         <enumeration value="YELLOW" />
         <enumeration value="GREEN" />
      </restriction>
   </simpleType>
   <simpleType name="EdgeStatus">
      <restriction base="xsd:string">
         <enumeration value="up" />
         <enumeration value="degraded" />
         <enumeration value="down" />
         <enumeration value="unknown" />
         <enumeration value="notReported" />
      </restriction>
   </simpleType>
   <complexType name="Edge">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="sourceEntity" type="sms:EntityReference" />
               <element name="destEntity" type="sms:EntityReference" />
               <element name="status" type="sms:EdgeStatus" />
               <element name="direct" type="xsd:boolean" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfEdge">
      <sequence>
         <element name="Edge" type="sms:Edge" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="Map">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="node" type="sms:Node" minOccurs="0" maxOccurs="unbounded" />
               <element name="edge" type="sms:Edge" minOccurs="0" maxOccurs="unbounded" />
               <element name="lastUpdateTime" type="xsd:dateTime" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="NodeStatus">
      <restriction base="xsd:string">
         <enumeration value="up" />
         <enumeration value="degraded" />
         <enumeration value="down" />
         <enumeration value="unknown" />
         <enumeration value="notReported" />
      </restriction>
   </simpleType>
   <complexType name="Node">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="entity" type="sms:EntityReference" />
               <element name="name" type="xsd:string" />
               <element name="status" type="sms:NodeStatus" />
               <element name="property" type="sms:NodeProperty" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfNode">
      <sequence>
         <element name="Node" type="sms:Node" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
   <complexType name="NodeProperty">
      <complexContent>
         <extension base="vim25:DynamicData">
            <sequence>
               <element name="name" type="xsd:string" />
               <element name="value" type="xsd:string" minOccurs="0" />
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ArrayOfNodeProperty">
      <sequence>
         <element name="NodeProperty" type="sms:NodeProperty" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
   </complexType>
</schema>
